.action {
  color: @main-white;
  &__inner{
    position: relative;
    max-width: 1233px;
    max-height: 319px;
    background: #531754;
    border-radius: 10px;

  }
  &__wrapper {
    position: relative;
    width: 100%;
    padding: 56px 71px 58px;
  overflow: hidden;
  }


  &__type {
    display: inline-block;
    margin-bottom: 18px;
    padding: 0 16px 0 15px;
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    background: #E05E82;
    border-radius: 50px;

  }

  &__primary-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.19;
    letter-spacing: 0.02em;

  }

  &__button {
    outline: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin: 0 0 0 3px;
    padding: 16px 38px 15px 30px;
    color: inherit;
    border: 2px solid currentColor;
    border-radius: 10px;
  }

  &__right-block {
    position: absolute;
    top: 0;
    right: 0;
    padding: 47px 38px 0 0;

    z-index: 1;
    height: 100%;

    &::after {
      position: absolute;
      top: -90px;
      left: -44px;
      content: '';
      width: 600px;
      height: 600px;
      background: #932B5C;
      z-index: -1;
      transform: rotate(-10deg);


    }
  }

  &__second-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.25;
    text-align: center;
  }

  &__text-wrapper {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 21px;
  }

  &__percent {
    display: block;
    font-size: 73px;
    line-height: 1;
    padding-left: 5px;
  }

  &__text {
    display: block;
    margin-top: -7px;
    padding-left: 12px;

  }

  &__desc {

    padding-left: 29px;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
  }

  &__card-block {
    position: absolute;
    top: 0;
    left: 325px;
    width: 100%;
    height: 100%;
    max-width: 539px;
    z-index: 1;
  }

  &__card {
    position: absolute;
  }

  &__card[src="./img/card-1.png"] {
    bottom: 23px;
    left: 40px;
  }

  &__card[src="./img/card-2.png"] {
    top: -67px;
    right: 0;
  }

  &__card[src="./img/card-3.png"] {
    top: -46px;
  }

}


