.action {
  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 1440px;
    background: #531754;
    border-radius: 10px;
    padding-left: 71px;
    padding-top: 62px;
    padding-bottom: 59px;
  }

  &__right-block {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__type {
    display: inline-block;
    margin-bottom: 18px;
    padding: 0 16px 0 15px;
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    color: @main-white;

    background: #E05E82;
    border-radius: 50px;

  }

  &__primary-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.19;
    letter-spacing: 0.02em;
    color: @main-white;
  }

  &__button {
    outline: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin: 0 0 0 3px;
    padding: 16px 38px 15px 30px;
    color: @main-white;
    border: 2px solid currentColor;
    border-radius: 10px;
  }
}