html,
body {
  height: 100%;
  font-family: @main-font;
  font-size: 14px;
  line-height: 1.16;
  color: @main-black;

}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  //margin: 0 auto;
  //max-width: 1440px;
}

.page-main {
  flex: 1 0 auto;
}

.page-footer {
  flex: 0 0 auto;
}
.content{
  padding: 0 15px;
}
a {
  color: inherit;
}
