.header-panel(){
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  &:hover .text,
  &:focus .text,
  &:hover .icon,
  &:focus .icon{
    text-decoration: underline;
    border-color:darken(#E7EAED,20%);
  }

  .text{
    font-size: 12px;
    margin-right: 7px;
  }

  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #E7EAED;
    border-radius: 100px;
    &:hover,&:focus{
    }
  }
}

.nav-link-style(@color,@padding){
  border: 2px solid @color;
  border-radius: 4px;
  color: @color;
  padding:@padding ;
}

.hero-product-template(){
  &+&{
    margin-top: 20px;
  }
  max-width: 330px;
  display: flex;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;
  background-color: @main-white;
  border-radius: 10px;
  &__img{
    display: block;
    margin-left: 16px;
  }
  &__product-text-block{
    margin-left: 24px;
    display: flex;
    flex-direction: column;

  }
  &__product-price{

    font-weight: 500;
    font-size: 12px;
    line-height: 1.57;
    color: #171717;
  }
  &__product-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.12;
  }
  &__arrow{
    margin-left: 32px;
  }

}

.dots(@bottom,@left,@color-active,@color-inactive,@color-accent){
    position: absolute;
    bottom: @bottom;
    left: @left;
    display: flex;


  & li {
    position: relative;
    margin-left: 19px;
    z-index: 2;
  }

  & button {
    display: block;
    background: @color-inactive;
    border: none;
    padding: 0;
    font-size: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

  }

  & .slick-active{
  &:before {
    content: '';
    width: 21px;
    height: 21px;
    position: absolute;
    top: -7px;
    left: -7px;
    z-index: -1;
    background-color: @color-accent;
    border-radius: 50%;
  }}
  & .slick-active button{
    background-color: @color-active;
  }
}