.header-panel(){
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  &:hover .text,
  &:focus .text,
  &:hover .icon,
  &:focus .icon{
    text-decoration: underline;
    border-color:darken(#E7EAED,20%);
  }

  .text{
    font-size: 12px;
    margin-right: 7px;
  }

  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #E7EAED;
    border-radius: 100px;
    &:hover,&:focus{
    }
  }
}