html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}
.nav-toggle {
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 15px;
  position: absolute;
  top: 15px;
  z-index: 14;
}
.nav-toggle:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 28px;
  line-height: inherit;
  color: #757575;
  content: '\e609';
  font-family: 'luma-icons';
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.opc-wrapper .form-discount .field .label,
.bundle-options-container .block-bundle-summary .product-image-container,
.bundle-options-container .block-bundle-summary .product.name,
.bundle-options-container .block-bundle-summary .stock,
.product-item-actions .actions-secondary > .action span,
.special-price .price-label,
.table-comparison .cell.label.remove span,
.table-comparison .cell.label.product span,
.block.related .field.choice .label,
.cart.table-wrapper .col.qty .label,
.minicart-wrapper .action.showcart .counter-label,
.checkout-index-index .page-title-wrapper,
.checkout-payment-method .field-select-billing > .label,
.checkout-payment-method .payments .legend,
.checkout-payment-method .ccard .legend,
.fieldset .fullname > .label,
.field.street .field .label,
.block-balance .balance-price-label,
.page-product-downloadable .product-options-wrapper .fieldset .legend.links-title,
.page-product-giftcard .fieldset.giftcard > .legend,
.opc-wrapper .form-giftcard-account .field .label,
.form-add-invitations .fields .label,
.filter-options-content .filter-count-label,
.table-comparison .wishlist.split.button > .action.split span,
.product-items .wishlist.split.button > .action.split span,
.page-multiple-wishlist .page-title-wrapper .page-title,
.block-wishlist-search-form .form-wishlist-search .fieldset > .legend,
.multicheckout .table-wrapper .col .label,
.multicheckout .block .methods-shipping .item-content .fieldset > .legend,
.block.newsletter .label,
.review-date .review-details-label,
.customer-review .product-details .rating-average-label,
.block-reorder .product-item .label,
.action.skip:not(:focus),
.page-header .panel.wrapper .switcher .label,
.page-footer .switcher .label,
.products-grid.wishlist .product-item .comment-box .label {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.block-search .label > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.block-search .block-title {
  display: none;
}
.compare.wrapper {
  display: none;
}
.block-search .nested {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
  .abs-visually-hidden-desktop,
  .modes-label,
  .block-search .label,
  .block-collapsible-nav .title {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
html,
body {
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 1.16;
  color: #0F171F;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page-main {
  flex: 1 0 auto;
}
.page-footer {
  flex: 0 0 auto;
}
.content {
  padding: 0 15px;
}
a {
  color: inherit;
}
.header {
  padding-top: 11px;
  padding-bottom: 14px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E7EAED;
}
.header .logo {
  margin-left: 20px;
}
.header .select-shop {
  position: relative;
  max-width: 195px;
  max-height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #E7EAED;
  border-radius: 100px;
  margin-left: 40px;
}
.header .select-shop:hover,
.header .select-shop:focus {
  border-color: #adb7c1;
}
.header .select-shop:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  background-image: url('../img/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 11px;
  height: 7px;
  pointer-events: none;
}
.header .select-shop__list {
  width: 195px;
  padding: 15px 35px 13px 15px;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  cursor: pointer;
  background: transparent;
  border: none;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}
.header .block-search {
  position: relative;
  max-width: 598px;
  flex-grow: 2;
  margin-left: 62px;
}
.header .block-search .input-text {
  display: block;
  width: 100%;
  padding: 13px 20px 13px 83px;
  background: rgba(231, 234, 237, 0.5);
  border-radius: 90px;
  border: none;
  font-size: 12px;
  color: #9E9E9E;
}
.header .block-search .input-text:focus {
  outline: 1px solid rgba(173, 183, 193, 0.5);
}
.header .block-search .action.search {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 40px;
  background-color: #424242;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 90px;
}
.header .profil-wrapper {
  margin-left: 75px;
}
.header .minicart-wrapper {
  position: relative;
  margin-left: 33px;
}
.header .minicart-wrapper .counter {
  position: absolute;
  top: -9px;
  right: -9px;
  background-color: #FF0000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 3px;
  min-width: 20px;
  min-height: 20px;
  font-size: 8px;
  font-weight: 700;
  line-height: 1.87;
  color: #FFF;
}
.header .action.showcart,
.header .action.showprofil {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}
.header .action.showcart:hover .text,
.header .action.showprofil:hover .text,
.header .action.showcart:focus .text,
.header .action.showprofil:focus .text,
.header .action.showcart:hover .icon,
.header .action.showprofil:hover .icon,
.header .action.showcart:focus .icon,
.header .action.showprofil:focus .icon {
  text-decoration: underline;
  border-color: #adb7c1;
}
.header .action.showcart .text,
.header .action.showprofil .text {
  font-size: 12px;
  margin-right: 7px;
}
.header .action.showcart .icon,
.header .action.showprofil .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #E7EAED;
  border-radius: 100px;
}
.nav-sections {
  padding: 12px 0 15px 54px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E7EAED;
}
.nav-sections__item--right {
  display: flex;
  align-items: center;
}
.nav-sections__link {
  position: relative;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
}
.nav-sections__link::after {
  content: '';
  position: absolute;
  top: -17px;
  right: -30px;
  height: 54px;
  width: 1px;
  background-color: #E7EAED;
}
.nav-sections__select-wrapper {
  position: relative;
  width: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.nav-sections__select-wrapper:after {
  content: '';
  position: absolute;
  top: 57%;
  right: 29px;
  transform: translateY(-50%);
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 11px;
  height: 7px;
  pointer-events: none;
}
.nav-sections__select {
  line-height: 1.172;
  font-weight: 600;
  position: relative;
  border: none;
  outline: none;
  background: transparent;
  overflow: hidden;
  padding: 0 30px;
  appearance: none;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__list li {
  display: block;
}
.nav__list li:nth-child(2) {
  margin-left: 34px;
}
.nav__list li:nth-child(3) {
  margin-left: 27px;
}
.nav__list li:nth-child(4) {
  margin-left: 28px;
}
.nav__list li:nth-child(5) {
  margin-left: 44px;
}
.nav__list li:nth-child(2) .navigation__link {
  border: 2px solid #F53E02;
  border-radius: 4px;
  color: #F53E02;
  padding: 5px 7px;
}
.nav__list li:nth-child(3) .navigation__link {
  border: 2px solid #0085FF;
  border-radius: 4px;
  color: #0085FF;
  padding: 5px 11px;
}
.nav__first-item-name {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.nav__first-item-name svg {
  margin-right: 14px;
}
.nav .navigation__link {
  font-size: 14px;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */