html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}
.nav-toggle {
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 15px;
  position: absolute;
  top: 15px;
  z-index: 14;
}
.nav-toggle:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 28px;
  line-height: inherit;
  color: #757575;
  content: '\e609';
  font-family: 'luma-icons';
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.opc-wrapper .form-discount .field .label,
.bundle-options-container .block-bundle-summary .product-image-container,
.bundle-options-container .block-bundle-summary .product.name,
.bundle-options-container .block-bundle-summary .stock,
.product-item-actions .actions-secondary > .action span,
.special-price .price-label,
.table-comparison .cell.label.remove span,
.table-comparison .cell.label.product span,
.block.related .field.choice .label,
.cart.table-wrapper .col.qty .label,
.minicart-wrapper .action.showcart .counter-label,
.checkout-index-index .page-title-wrapper,
.checkout-payment-method .field-select-billing > .label,
.checkout-payment-method .payments .legend,
.checkout-payment-method .ccard .legend,
.fieldset .fullname > .label,
.field.street .field .label,
.block-balance .balance-price-label,
.page-product-downloadable .product-options-wrapper .fieldset .legend.links-title,
.page-product-giftcard .fieldset.giftcard > .legend,
.opc-wrapper .form-giftcard-account .field .label,
.form-add-invitations .fields .label,
.filter-options-content .filter-count-label,
.table-comparison .wishlist.split.button > .action.split span,
.product-items .wishlist.split.button > .action.split span,
.page-multiple-wishlist .page-title-wrapper .page-title,
.block-wishlist-search-form .form-wishlist-search .fieldset > .legend,
.multicheckout .table-wrapper .col .label,
.multicheckout .block .methods-shipping .item-content .fieldset > .legend,
.block.newsletter .label,
.review-date .review-details-label,
.customer-review .product-details .rating-average-label,
.block-reorder .product-item .label,
.action.skip:not(:focus),
.page-header .panel.wrapper .switcher .label,
.page-footer .switcher .label,
.products-grid.wishlist .product-item .comment-box .label {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.block-search .label > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.block-search .block-title {
  display: none;
}
.compare.wrapper {
  display: none;
}
.block-search .nested {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
  .abs-visually-hidden-desktop,
  .modes-label,
  .block-search .label,
  .block-collapsible-nav .title {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
@font-face {
  font-family: 'luma-icons';
  src: url('../fonts/luma-Icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 1.16;
  color: #0F171F;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1440px;
  overflow: hidden;
}
.page-main {
  flex: 1 0 auto;
}
.page-footer {
  flex: 0 0 auto;
}
.content {
  padding: 0 15px;
}
a {
  color: inherit;
}
.header {
  padding-top: 11px;
  padding-bottom: 14px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E7EAED;
}
.header .logo {
  margin-left: 20px;
}
.header .select-shop {
  position: relative;
  max-width: 195px;
  max-height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #E7EAED;
  border-radius: 100px;
  margin-left: 40px;
}
.header .select-shop:hover,
.header .select-shop:focus {
  border-color: #adb7c1;
}
.header .select-shop:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  background-image: url('../img/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 11px;
  height: 7px;
  pointer-events: none;
}
.header .select-shop__list {
  width: 195px;
  padding: 15px 35px 13px 15px;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  cursor: pointer;
  background: transparent;
  border: none;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}
.header .block-search {
  position: relative;
  max-width: 598px;
  flex-grow: 2;
  margin-left: 62px;
}
.header .block-search .input-text {
  display: block;
  width: 100%;
  padding: 13px 20px 13px 83px;
  background: rgba(231, 234, 237, 0.5);
  border-radius: 90px;
  border: none;
  font-size: 12px;
  color: #9E9E9E;
}
.header .block-search .input-text:focus {
  outline: 1px solid rgba(173, 183, 193, 0.5);
}
.header .block-search .action.search {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 40px;
  background-color: #424242;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 90px;
}
.header .profil-wrapper {
  margin-left: 75px;
}
.header .minicart-wrapper {
  position: relative;
  margin-left: 33px;
}
.header .minicart-wrapper .counter {
  position: absolute;
  top: -9px;
  right: -9px;
  background-color: #FF0000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 3px;
  min-width: 20px;
  min-height: 20px;
  font-size: 8px;
  font-weight: 700;
  line-height: 1.87;
  color: #FFF;
}
.header .action.showcart,
.header .action.showprofil {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}
.header .action.showcart:hover .text,
.header .action.showprofil:hover .text,
.header .action.showcart:focus .text,
.header .action.showprofil:focus .text,
.header .action.showcart:hover .icon,
.header .action.showprofil:hover .icon,
.header .action.showcart:focus .icon,
.header .action.showprofil:focus .icon {
  text-decoration: underline;
  border-color: #adb7c1;
}
.header .action.showcart .text,
.header .action.showprofil .text {
  font-size: 12px;
  margin-right: 7px;
}
.header .action.showcart .icon,
.header .action.showprofil .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #E7EAED;
  border-radius: 100px;
}
.nav-sections {
  padding: 12px 0 15px 54px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E7EAED;
}
.nav-sections__item--right {
  display: flex;
  align-items: center;
}
.nav-sections__link {
  position: relative;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
}
.nav-sections__link::after {
  content: '';
  position: absolute;
  top: -17px;
  right: -30px;
  height: 54px;
  width: 1px;
  background-color: #E7EAED;
}
.nav-sections__link:hover,
.nav-sections__link:focus {
  text-decoration: underline;
}
.nav-sections__select-wrapper {
  position: relative;
  width: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.nav-sections__select-wrapper:after {
  content: '';
  position: absolute;
  top: 57%;
  right: 29px;
  transform: translateY(-50%);
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 11px;
  height: 7px;
  pointer-events: none;
}
.nav-sections__select {
  line-height: 1.172;
  font-weight: 600;
  position: relative;
  border: none;
  outline: none;
  background: transparent;
  overflow: hidden;
  padding: 0 30px;
  appearance: none;
  cursor: pointer;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__list li {
  display: block;
}
.nav__list li:nth-child(2) {
  margin-left: 34px;
}
.nav__list li:nth-child(3) {
  margin-left: 27px;
}
.nav__list li:nth-child(4) {
  margin-left: 28px;
}
.nav__list li:nth-child(5) {
  margin-left: 44px;
}
.nav__list li:nth-child(2) .navigation__link {
  border: 2px solid #F53E02;
  border-radius: 4px;
  color: #F53E02;
  padding: 5px 7px;
}
.nav__list li:nth-child(3) .navigation__link {
  border: 2px solid #0085FF;
  border-radius: 4px;
  color: #0085FF;
  padding: 5px 11px;
}
.nav__first-item-name {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.nav__first-item-name:hover,
.nav__first-item-name:focus {
  text-decoration: underline;
}
.nav__first-item-name svg {
  margin-right: 14px;
}
.nav .navigation__link {
  font-size: 14px;
  font-weight: 700;
}
.nav .navigation__link:hover,
.nav .navigation__link:focus {
  text-decoration: underline;
}
.hero {
  position: relative;
}
.hero__dots {
  position: absolute;
  bottom: 33px;
  left: 655px;
  display: flex;
}
.hero__dots li {
  position: relative;
  margin-left: 19px;
  z-index: 2;
}
.hero__dots button {
  display: block;
  background: #FFFFFF;
  border: none;
  padding: 0;
  font-size: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.hero__dots .slick-active:before {
  content: '';
  width: 21px;
  height: 21px;
  position: absolute;
  top: -7px;
  left: -7px;
  z-index: -1;
  background-color: #B40000;
  border-radius: 50%;
}
.hero__dots .slick-active button {
  background-color: #FFFFFF;
}
.hero__appeal {
  padding-left: 100px;
}
.hero__category {
  max-width: 127px;
  margin-top: 71px;
  margin-bottom: 17px;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 700;
  padding: 5px 14px;
  border: 1px solid #FFFFFF;
  border-radius: 43px;
  background-color: #FFFFFF;
}
.hero__title {
  max-width: 554px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.21;
  color: #FFFFFF;
}
.hero__link {
  max-width: 198px;
  display: block;
  font-weight: 700;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  padding: 16px 20px;
  transition: all 0.3s linear;
}
.hero__link:hover,
.hero__link:focus {
  background: #FFFFFF;
  color: #0F171F;
}
.hero__item {
  background: linear-gradient(180deg, #040335 0.32%, rgba(0, 28, 100, 0.55) 100%), url('../img/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 460px;
}
.hero__item-wrapper {
  display: flex;
  justify-content: space-between;
}
.hero__products {
  padding-right: 100px;
  padding-top: 75px;
}
.hero__product {
  max-width: 330px;
  display: flex;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.hero__product + .hero__product {
  margin-top: 20px;
}
.hero__img {
  display: block;
  margin-left: 16px;
}
.hero__product-text-block {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}
.hero__product-price {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.57;
  color: #171717;
}
.hero__product-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
}
.hero__arrow {
  margin-left: 32px;
  padding-right: 29px;
  transition: transform 0.1s linear;
}
.hero__product:hover .hero__arrow,
.hero__product:focus .hero__arrow {
  transform: translateX(5px);
}
.product-block {
  padding: 70px 100px 140px 100px;
  background-color: #F1F1F1;
}
.product-block__head {
  padding-bottom: 43px;
  display: flex;
  justify-content: space-between;
}
.product-block .block-title strong {
  font-weight: 700;
  font-size: 36px;
}
.product-block .product-item {
  padding: 40px 46px 44px 45px;
  max-width: 599px;
  border: 1px solid #E7EAED;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: #FFFFFF;
}
.product-block .product-item-photo {
  max-width: 196px;
  margin-top: 3px;
  margin-right: 80px;
}
.product-block .product-item-photo img {
  width: 100%;
}
.product-block .product-item-info {
  display: flex;
  justify-content: space-between;
}
.product-block .product-item-details {
  max-width: 230px;
}
.product-block .product-item-ref {
  padding-bottom: 3px;
}
.product-block .product-item-ref strong {
  font-weight: 400;
  color: #828282;
  font-size: 12px;
  line-height: 1.67;
}
.product-block .product-item-name {
  display: block;
  padding-bottom: 7px;
}
.product-block .product-item-name a {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}
.product-block .product-reviews-summary {
  display: flex;
  padding-bottom: 18px;
}
.product-block .reviews-actions {
  padding-left: 52px;
}
.product-block .reviews-actions a {
  text-decoration: underline;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
}
.product-block .rating-result {
  position: relative;
}
.product-block .rating-result:before {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  color: #c7c7c7;
  font-family: 'luma-icons';
  font-size: 16px;
  height: 16px;
  letter-spacing: 2px;
  line-height: 16px;
  content: '\e605' '\e605' '\e605' '\e605' '\e605';
  display: block;
  font-style: normal;
  font-weight: 400;
  speak: none;
}
.product-block .rating-result > span:before {
  position: relative;
  z-index: 2;
  -webkit-font-smoothing: antialiased;
  color: #FFB000;
  font-family: 'luma-icons';
  font-size: 16px;
  height: 16px;
  letter-spacing: 2px;
  line-height: 16px;
  content: '\e605' '\e605' '\e605';
  display: block;
  font-style: normal;
  font-weight: 400;
  speak: none;
}
.product-block .rating-summary {
  display: flex;
}
.product-block .rating-summary .label span,
.product-block .rating-percent {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.product-block .normal-price {
  display: flex;
  flex-direction: column;
}
.product-block .price-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.43;
  padding-bottom: 5px;
  display: block;
}
.product-block .price-inner {
  display: flex;
  flex-direction: column;
  padding-bottom: 6px;
}
.product-block .price {
  color: #171717;
  font-weight: 500;
  font-size: 19px;
  line-height: 0.89;
  display: block;
}
.product-block .price--red {
  color: #A52B41;
  padding-bottom: 10px;
}
.product-block .price-wrapper {
  display: flex;
  justify-content: space-between;
}
.product-block .price-discount {
  margin-top: 5px;
  max-height: 35px;
  padding: 7px 6px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: #A52B41;
  border: 2px solid currentColor;
  border-radius: 5px;
}
.product-block .price-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #828282;
}
.product-block .price-descr span {
  text-decoration: line-through;
}
.product-slider .slick-list {
  margin: 0 -40px;
}
.product-slider .slick-slide > div {
  padding: 0 40px;
}
.product-slider .slick-slide:nth-child(even) > div {
  padding: 0 3px;
}
.product-slider .products__dots {
  position: absolute;
  bottom: -78px;
  left: 559px;
  display: flex;
}
.product-slider .products__dots li {
  position: relative;
  margin-left: 19px;
  z-index: 2;
}
.product-slider .products__dots button {
  display: block;
  background: #C4C4C4;
  border: none;
  padding: 0;
  font-size: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.product-slider .products__dots .slick-active:before {
  content: '';
  width: 21px;
  height: 21px;
  position: absolute;
  top: -7px;
  left: -7px;
  z-index: -1;
  background-color: #A52B41;
  border-radius: 50%;
}
.product-slider .products__dots .slick-active button {
  background-color: #FFFFFF;
}
.product-slider .slider-arrows > span {
  font-size: 20px;
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #0F171F;
  border-radius: 80px;
}
.news {
  padding: 108px 100px 100px 100px;
}
.news__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  padding-bottom: 40px;
}
.news__title span {
  color: #A52B41;
}
.news__container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 54px;
}
.news__item:nth-child(even) {
  width: 493px;
  height: 383px;
}
.news__item:nth-child(odd) {
  width: 707px;
  height: 383px;
}
.news__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 47px;
}
.news__item:nth-child(1) {
  margin-right: 40px;
}
.news__item:nth-child(3) {
  order: 4;
}
.news__item:nth-child(4) {
  order: 3;
  margin-right: 40px;
}
.news__item {
  position: relative;
}
.news__img {
  border-radius: 10px;
}
.news__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 37px 30px 33px;
}
.news__desc:before {
  content: '';
  position: absolute;
  top: 32px;
  right: 66px;
  width: 10px;
  height: 14px;
  background: url("../img/news-arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.news__content {
  background-color: #fff;
  padding: 19px 45px 26px 33px;
  border-radius: 8px;
  border: 1px solid rgba(231, 234, 237, 0.6);
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.05);
  max-height: 130px;
}
.news__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 2px;
}
.news__text {
  font-size: 14px;
  line-height: 1.71;
  color: #525252;
}
.news__button-wrapper {
  display: flex;
  justify-content: center;
}
.news__button-wrapper:hover button,
.news__button-wrapper:focus button {
  border: 2px solid #0F171F;
}
.news__button-more {
  outline: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.57;
  border: 2px solid #E7EAED;
  padding: 14px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s linear;
}
/*# sourceMappingURL=style.css.map */